B1;3201;0c# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
*.png
LSFJOB*
# no python compiled files:
*pyc
# no python init file
python/__init__.py
*.root
MJSelection/plot/ZprimePlots/
MJSelection/plot/MonoXPlots/
MJSelection/plot/RazorPlots/
MJSelection/zprimebits/
MJSelection/monoxbits/
MJSelection/razorbits/
MJSelection/singlebbits/
MJSelection/training/plots/
MJSelection/training/tmva_output/
MJSelection/training/weights/
MJSelection/training/validation/
*.d
*.so
*.o
*.pyc
*.pcm
./#*