# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
*.png
LSFJOB*
# no python compiled files:
*pyc
# no python init file
python/__init__.py
*.root
MJSelection/plot/zprimeplots/
MJSelection/plot/monoxplots/
MJSelection/plot/razorplots/
MJSelection/zprimebits/
MJSelection/monoxbits/
MJSelection/razorbits/
MJSelection/singlebbits/
MJSelection/training/plots/
MJSelection/training/tmva_output/
MJSelection/training/weights/
MJSelection/training/validation/
MJSelection/training/Training_with/
MJSelection/training/Training_withfj/
MJSelection/training/Training_without/
MJSelection/skim/monoxntuples/
MJSelection/skim/razorntuples/
*.d
*.so
*.o
*.pyc
*.pcm
./#*
./__afs*
MJSelection/macros/.__afs*
MJSelection/plot/.__afs*
MJSelection/skim/.__afs*
MJSelection/production/.__afs*
