# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
*.png
LSFJOB*
# no python compiled files:
*pyc
# no python init file
python/__init__.py
Analyzer/python/__init__.py
*.root
Analyzer/scratch/
Analyzer/plot/zprimeplots/
Analyzer/plot/monoxplots/
Analyzer/plot/monoxplotsSid/
Analyzer/zprimebits/
*.d
*.so
*.o
*.pyc
*.pcm
./#*
./__afs*
Analyzer/macros/.__afs*
Analyzer/plot/.__afs*
Analyzer/skim/.__afs*
Analyzer/production/.__afs*
*core.*